apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:              # ← ADD THESE 2 LINES
      - name: regcred                 # ← ADD THESE 2 LINES
      containers:
      - name: myapp
        image: YOUR_DOCKERHUB_USERNAME/todo-app:build-7
        ports:
        - containerPort: 80
